
h1, h3{
  padding-top: .5rem;
  text-align: center;
  line-height: 2rem;
}
header {
  padding-top: .5rem;
  display: flex;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

button {
  color: rgb(43, 226, 198);
  border-radius: 8px;
  border: 1px solid transparent;
  margin: 0.1rem;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #202020;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
li {
  /* text-align: left; */
  list-style: none;
}
.newTask {
  color: orange;
}
.welkome {
  color: #646cff;
}
.red {
  color: orangered;
}
select {
  color: rgba(255, 255, 255, 0.87);
  font-weight: bolder;
  font-size: medium;
  background-color: #202020;
  border: none;
}